/* Applies to Show Tours Page: showTours.html */
body{
  background: url("../background/beer_background18.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.banner
{
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  color: black;
  text-align: center;
  padding-top: 50px;
}
.banner h1 {
  text-shadow: 4px 4px 6px #000000;
  font-size: 80px;
  color: #D30E00 !important;
  font-family: 'Oleo Script', cursive;
}
.showTours
{
  width: 80%;
  margin-left: 200px;
  margin-top: 40px;
  border: 1px solid black;
  margin-bottom: 150px;
}

.showTours h2
{
  font-size: 24px;
  color: #D30E00;
  font-family: 'Oleo Script', cursive;
}
.showTours h3
{
  font-size: 16px;
  font-family: 'Oleo Script', cursive;
}

.info-section
{
  padding-top: 5px;
}

.btn
{
  margin-top: 20px;
}

.btn-primary
{
  background-image: linear-gradient(to bottom, #D30E00 0, #CE0D00 100%) !important;
  background-color: #D30E00 !important;
  border-color: #CE0D00 !important;
  border-radius: 5px !important;
}

.btn-primary:hover
{
  border-color: #D30E00 !important;
}

.btn:focus
{
  outline: none !important;
}